/* Reset default browser styles */
* {
    font-family: Bebas Neue;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

:root {
    --border: #dd8e16;
    
    --g1: #ff0140;
    --g2: #890127;
    --g3: #38293c;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  nav h1 {
    font-size: 2rem;
    color: #eee;
  }
  nav a {
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
  }
  a:hover{
    color: #dd8e16;
  }
  span {
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
  }
  span:hover{
      color: #dd8e16;
    }
  div a {
      color: #222222;
      justify-content:space-around;
      padding-right: 100%;
  }
  
  .linkedin:hover{
      color: #0072b1;
  }
  
  .github:hover{
      color:#171515;
  }
  
  .twitter:hover{
      color:#00acee;
  }
  
  .instagram:hover{
      color:#d62976;
  }
  
  .twitch:hover{
      color:#6441a5;
  }
  
  ul {
    list-style-type: none;
   }
  
  .menu-icon {
    display: none;
    
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 2rem;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
    
    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
    }
    
    .nav-links li {
      display: block;
      margin: 1rem 2rem;
    }
    
    .nav-active {
      display: flex;
      flex-direction: column;
    }
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #eeeee4;
      border-radius: 0px 0px 10px 10px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
  /* Tooltip container */
  .tooltip {
    font-size: large;
    font-weight:bolder;
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align:justify;
    padding: 5px 0;
    border-radius: 4px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  /* Header Styles */
  header {
      background-image: url('header-background.jpg');
      background-position:bottom;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      padding: 0 20%;
      text-align: center;
  }
  
  header h1 {
      font-size: 4rem;
      margin-bottom: 20px;
  }
  
  header p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 40px;
  }
  
  .cta-button {
      background-color: #dd8e16;
      border: none;
      border-radius: 50px;
      color: #333;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 10px 100px;
      transition: all 0.3s;
  }
  
  .cta-button:hover {
      background-color: #7a4e0c;
      color: #fff;
  }
  
  /* About Me Section Styles */
  #about-me {
      background-color: #bdbdbd;
      color: #333;
      padding: 40px 20%;
  }
  
  #about-me h2 {
      font-size: 3rem;
      margin-bottom: 20px;
  }
  
  #about-me p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 20px;
  }
  
  .profile-pic{
      border-radius: 50%;
      position: absolute;
      align-items: center;
      justify-content: center;
      height: 240px;
      left: 4%;
  }
  
  
  /* Projects Section Styles */
  #projects {
      background-color: #961b1b;
      color: #fff;
      padding: 40px 20%;
  }
  
  #projects h2 {
      font-size: 3rem;
      margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card{
    width: 30%;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(189, 39, 39, 0.2);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-text {
    padding: 1rem;
  }
  
  .card-text h3 {
    margin-top: 0;
  }
  
  .card-text p {
    margin-bottom: 1rem;
  }
  
  .card-text a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
  
  .card-container a {
    text-decoration: none;
  }


  /* Skills Section Styles */
  #skills {
      background-color: #fff;
      color: #333;
      padding: 40px 20%;
  }
  
  #skills h2 {
      font-size: 3rem;
      margin-bottom: 20px;
  }
  
  .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .skill h3 {
      font-size: 2rem;
      margin-right: 20px;
  }
  
  .skill-level {
      background-color: #eee;
      border-radius: 50px;
      height: 20px;
      margin-right: 20px;
      width: 100%;
  }
  
  .html {
      background-color: #f16529;
      width: 90%;
  }
  
  .css {
      background-color: #f16529;
      width: 90%;
  }



  /* PROJECTS SECTION */

section,
 #projects{
    padding: 100px;
  }

  h2{
    padding: 0;
    margin: 0;
  }

.card-container {
    display: flex;
    justify-content: space-between;
    margin-inline: 0px;
    padding-inline: 0px;
    padding: 10px;
    margin: 10px;
  }
  .card {
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
    padding: 0;
  }
  
  .card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
  }
  
  .card:hover > .card-content {
    background-position: -10% 0%;
  }
  
  .card:hover > .card-icon {
    color: white; 
  }
  
  .card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
  }
  
  .card:before {
    background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      var(--g1) 66%, 
      var(--g2) 83.5%, 
      var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
  }
  
  .card-content {
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
  }
  
  .card-title,
  .card-subtitle {
    color: white;
    font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    margin: 0px;
  }
  
  .card-title {
    font-size: 6vmin;
  }
  
  .card-subtitle {
    font-size: 3vmin;
    margin-top: 2vmin;
  }
  
  .card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
  }
  
  .card-icon {
    bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7vmin;
    left: 0px;
    margin: 5vmin;
    position: absolute;
    transition: color 250ms ease;
    z-index: 2;
  }
  
  